<section class="" style="background-color: #eee; height: 100%;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-6 col-xl-6">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body ">
              <div class="justify-content-center">
  
                <div class="col-md-11 col-lg-11 col-xl-11 container" id="addCarDiv">
                  <div class="row">
                    <p id="title" class="text-center h1 fw-bold">Your profile is successfully activated!</p>
                  </div>
                  
                  <div class="row" style="align-items: center;">
                    <app-confirm-registration></app-confirm-registration>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>