<div><p class="title-style">DRIVES HISTORY</p></div>
<div class="table-card">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th (click)="sortColumn('startLocation')" [class.sorted]="sortedColumn === 'startLocation'">
                    Starting Location
                </th>
                <th (click)="sortColumn('endLocation')" [class.sorted]="sortedColumn === 'endLocation'">
                    End Location
                </th>
                <th (click)="sortColumn('price')" [class.sorted]="sortedColumn === 'price'">
                    Price
                </th>            
                <th (click)="sortColumn('startTime')" [class.sorted]="sortedColumn === 'startTime'">
                    Start Time
                </th>
                <th (click)="sortColumn('endTime')" [class.sorted]="sortedColumn === 'endTime'">
                    End Time
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of rideHistory; index as i">
                <td>{{ i + 1 }}</td>
                <td>{{ row.ride.route.startLocation.locationName }}</td>
                <td>{{ row.ride.route.endLocation.locationName }}</td>
                <td [innerHTML]="row.ride.price + '&nbsp;&euro;'"></td>
                <td>{{ convertDateTime(row.ride.startDateTime) }}</td>
                <td>{{ convertDateTime(row.ride.endDateTime) }}</td>
            </tr>
        </tbody>
    </table>
</div>
