
<div class="offcanvas offcanvas-end w-25" style="position: absolute; z-index:1; width: 100%; height: 100%; top: 0; right: 0;z-index:10;"
     tabindex="-1" id="offcanvas" data-bs-keyboard="false" data-bs-backdrop="false">
    <div class="offcanvas-header" style="padding-top: 80px;">
        <h6 class="offcanvas-title d-none d-sm-block" id="offcanvas">My rides</h6>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body px-0 overflow-auto" id="overflowedDiv">
        <div id="moj" class="overflow-auto">
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start overflow-auto" id="menu">
            <li  *ngFor="let ride of usersRides">
         
                <div class="container cardDiv" *ngIf="ride.state === 'IN_PROGRESS'">
                    <div class="row">
                        <label class="title-label">Current ride</label>    
                    </div>
                    <div class="row">
                        <p>From: {{ride.startLocationString}}</p>
                    </div>
                    <div class="row">
                        <p>To: {{ride.endLocationString}}</p>
                    </div>
                    <div class="row">
                        <div class="col-11">
                            <p>Started at: {{ride.startDateTime}}h </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <button class="btn btn-primary" (click)="view(ride.id)" id="veiwButton-{{ride.id}}">See current position</button>
                        </div>
                        <div class="col-5">
                            <button class="btn btn-danger" (click)="report(ride.id)" id="reportButton-{{ride.id}}">Report driver</button>
                        </div>
                        <div class="row reportDiv" id="reportDiv-{{ride.id}}">
                            <div class="col-9">
                                <input type="text">
                            </div>
                            <div class="col-3">
                                <button id="sendReportBtn" class="btn btn-primary" (click)="sendReport(ride.id)" >Send</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container cardDiv" *ngIf="ride.state === 'STARTED'">
                    <div class="row">
                        <label class="title-label">Upcoming ride</label>    
                    </div>
                    <div class="row">
                        <p>From: {{ride.startLocationString}}</p>
                    </div>
                    <div class="row">
                        <p>To: {{ride.endLocationString}}</p>
                    </div>
                    <div class="row">
                        <div class="col-11">
                            <p>Time till arrival: {{usersTimeRemainingTillGettingARide}} </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                        </div>
                        <div class="col-8">
                            <!-- <button class="btn btn-primary" (click)="report(ride.id)">View vehicle position</button> -->
                            <button class="btn btn-primary" (click)="seeIncDriver(ride.id)">View vehicle position</button>
                        </div>
                    </div>
                </div>

                <div class="container cardDiv" *ngIf="ride.state === 'RESERVED'">
                    <div class="row">
                        <label class="title-label">Reserved ride</label>    
                    </div>
                    <div class="row">
                        <p>From: {{ride.startLocationString}}</p>
                    </div>
                    <div class="row">
                        <p>To: {{ride.endLocationString}}</p>
                    </div>
                    <div class="row">
                        <div class="col-11">
                            <p>Starting at: {{ride.startDateTime}}h </p>
                        </div>
                    </div>
                    
                </div>

                <div class="container cardDiv" *ngIf="ride.state === 'WAITING_FOR_PAYMENT' && alreadyApproved(ride)">
                    <div class="row">
                        <label class="title-label"> <i id= "notificationIcon" class="bi bi-hourglass-split"></i> Pending rides</label>    
                    </div>
                    <div class="row">
                        <p>From: {{ride.startLocationString}}</p>
                    </div>
                    <div class="row">
                        <p>To: {{ride.endLocationString}}</p>
                    </div>
                    <div class="row" *ngIf="ride.startDateTime!=='TBD'">
                        <p>At: {{ride.startDateTime}}</p>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label id="waiting">  Waiting for ride to be approved...</label>
                        </div>
                    </div>
                </div>

                <div class="container cardDiv" *ngIf="ride.state === 'WAITING_FOR_PAYMENT' && !alreadyApproved(ride)">
                    <div class="row">
                        <label class="title-label"> <i id= "notificationIcon" class="bi bi-bell-fill" style="color: orange;"></i> You have a new ride</label>    
                    </div>
                    <div class="row">
                        <p>From: {{ride.startLocationString}}</p>
                    </div>
                    <div class="row">
                        <p>To: {{ride.endLocationString}}</p>
                    </div>
                    <div class="row" *ngIf="ride.startDateTime!=='TBD'">
                        <p>At: {{ride.startDateTime}}</p>
                    </div>
                    <div class="row">
                        <div class="col-6">
                        </div>
                        <div class="col-3">
                            <button class="btn btn-success" (click)="acceptRide(ride.id)"> Accept </button>
                        </div>
                        <div class="col-3">
                            <button class="btn btn-danger" (click)="rejectRide(ride.id)"> Reject </button>
                        </div>
                    </div>
                </div>


            </li>
        </ul>
        </div>
    </div>
</div>
<div class="container-fluid" style="background-color: #eee;">
    <div class="row">
        <div class="col min-vh-100 p-4">
            <!-- toggler -->
            <button id="toggleBtn" class="btn float-end" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button">
                <i id="buttonIcon" class="bi bi-arrow-left-square-fill fs-7" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"></i>
            </button>
        </div>
    </div>
</div>