<section class="" style="background-color: #eee;">
    <div class="container h-90" style="padding-top: 50px; padding-bottom: 50px; ">
      <div class="row d-flex justify-content-center align-items-center h-100" >
        <div class="col-lg-12 col-xl-11">
          <div class="">
            <div class="card-body p-md-5" style="background-color: #eee;">
                <div class="row justify-content-center" >
                    <div class="col-md-4 col-lg-4 col-xl-4 order-2 order-lg-1">
                        <div id="allFriendsDiv" >

                            <div class="p-2 border-bottom" *ngFor="let item of messagePersons" 
                            id="{{item.email}}" (click)="onFriendClick(item.email)" class="allWhite">
                                <div class="d-flex flex-row" >
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-5.webp"
                                    class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60px">
                                    <div class="pt-1">
                                    <p class="fw-bold mb-0">{{item.name}} {{item.surname}}</p>
                                    <p class="small text-muted">{{item.lastMessage}}</p>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            
                            
                        </div>
                    </div>
                    
                    <div id="messagesDiv" class="col-md-7 col-lg-7 col-xl-7 order-1 order-lg-2">
                        <div>
                            <label id="noMessages" *ngIf="currentMessages?.length==0" > No messages yet</label>

                            <!--OVDJE SADA IDE NGFOR ZA SVE PORUKE-->
                            <div *ngFor="let item of currentMessages" class="d-flex justify-content-between mb-4" >
                                <div class="card w-100 myMessage"  *ngIf="item.sender==userEmail">
                                    <div class="card-header d-flex justify-content-between p-3">
                                        <p class="fw-bold mb-0">Me</p>
                                        <!--<p class="text-muted small mb-0"><i class="far fa-clock"></i> 13 mins ago</p> -->
                                    </div>
                                    <div class="card-body">
                                        <p class="mb-0">
                                            {{item.text}}
                                        </p>
                                    </div>
                                </div>
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-5.webp" alt="avatar"
                                class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" width="60"  *ngIf="item.sender==userEmail">

                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp"
                                class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60" *ngIf="item.receiver==userEmail">
                                <div class="card w-100 myMessage" *ngIf="item.receiver==userEmail">
                                    <div class="card-header d-flex justify-content-between p-3">
                                        <p class="fw-bold mb-0">{{friendName}}</p>
                                        <p class="text-muted small mb-0"></p>
                                    </div>
                                    <div class="card-body">
                                        <p class="mb-0">
                                        {{item.text}}
                                        </p>
                                    </div>
                                </div>
                                <br>
                            </div>
                        

                        </div>
                    </div>

                    <div>
                        <div class="bg-white mb-3" id="typeMessage">
                            <div class="form-outline">
                            <textarea class="form-control" id="textAreaExample2" rows="4" placeholder="Type here..."></textarea>
                            </div>
                        </div>
                        <button id="sendButton" type="button" (click)="sendMessage()" class="btn btn-info btn-rounded float-end">Send</button>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>