<form [formGroup]="registrationForm" (submit)="onSubmit()" class="mx-1 mx-md-4" >
  <div class="d-flex flex-row align-items-center mb-4">
    <i class="bi bi-person-fill fa-lg"></i>
    <div>
      <input 
        class="form-control"
        formControlName="name"
        type="text"
        id="name"
        placeholder="Name"
        appCustomAttribute
        appCustomValidation
      />

      <small
        class="text-danger"
        *ngIf="
        registrationForm.controls.name.touched &&
        registrationForm.controls.name.errors?.required
        "
      >
        Name is required</small
      >

      <small
        class="text-danger"
        *ngIf="
        registrationForm.controls.name.touched &&
        registrationForm.controls.name.errors?.minlength
        "
      >
        Name should be at least two characters long</small
      >
    </div>
  </div>
  <div class="d-flex flex-row align-items-center mb-4">
    <i class="bi bi-person-fill fa-lg"></i>
    <div>
      <input
        class="form-control"
        type="text"
        id="surname"
        placeholder="Surname"
        formControlName="surname"
        appCustomAttribute
        appCustomValidation
      />

      <small
        class="text-danger"
        *ngIf="
        registrationForm.controls.surname.touched &&
        registrationForm.controls.surname.errors?.required
        "
      >
        Surname is required</small
      >
      <small
        class="text-danger"
        *ngIf="
        registrationForm.controls.surname.touched &&
        registrationForm.controls.surname.errors?.minlength
        "
      >
        Surname should be at least two characters long</small
      >
    </div>
  </div>

  <div class="d-flex flex-row align-items-center mb-4">
    <i class="bi bi-envelope-at-fill"></i>
    <div>
      <input
        class="form-control"
        type="text"
        id="email"
        placeholder="Email"
        formControlName="email"
        appCustomAttribute
        appCustomValidation
      />

      <small
        class="text-danger"
        *ngIf="
        registrationForm.controls.email.touched &&
        registrationForm.controls.email.errors?.required
        "
      >
        Email is required</small
      >
      <small
        class="text-danger"
        *ngIf="
          registrationForm.controls.email.touched &&
          registrationForm.controls.email.errors?.emailError
        "
      >
        Email must contain "@"</small
      >
    </div>
  </div>

  <div class="d-flex flex-row align-items-center mb-4">
    <i class="bi bi-lock-fill"></i>
    <div>
      <input #inputPassword formControlName="confirmedPassword"
        class="form-control"
        type="password"
        id="password"
        placeholder="Password"
        formControlName="password"
        appCustomAttribute
        appCustomValidation
      />

      <small
        class="text-danger"
        *ngIf="
        registrationForm.controls.password.touched &&
        registrationForm.controls.password.errors?.required
        "
      >
        Password is required</small
      >

      <small
        class="text-danger"
        *ngIf="
        registrationForm.controls.password.touched &&
        registrationForm.controls.password.errors?.minlength
        "
      >
        Password should be at least 5 characters long</small
      >
    </div>
  </div>

  <div class="d-flex flex-row align-items-center mb-4">
    <i class="bi bi-lock-fill"></i>
    <div>
      <input
        class="form-control"
        type="password"
        id="repeated"
        placeholder="Repeat password"
        formControlName="repeated"
        appCustomAttribute
        appCustomValidation
      />

      <small
        class="text-danger"
        *ngIf="registrationForm.controls.repeated.touched && registrationForm.hasError('invalid')
        "
      >
        Passwords do not match</small
      >
      
    </div>
  </div>

  <div class="d-flex flex-row align-items-center mb-4">
    <i class="bi bi-buildings-fill"></i>
    <div>
      <input
        class="form-control"
        type="text"
        id="city"
        placeholder="City"
        formControlName="city"
        appCustomAttribute
        appCustomValidation
      />

      <small
        class="text-danger"
        *ngIf="
        registrationForm.controls.city.touched &&
        registrationForm.controls.city.errors?.required
        "
      >
        City is required</small
      >
      <small
        class="text-danger"
        *ngIf="
        registrationForm.controls.city.touched &&
        registrationForm.controls.city.errors?.minlength
        "
      >
        City should be at least two characters long</small
      >
    </div>
  </div>

  <div class="d-flex flex-row align-items-center mb-4">
    <i class="bi bi-telephone-fill"></i>
    <div>
      <input
        class="form-control"
        type="text"
        id="phone"
        placeholder="Phone number"
        formControlName="phone"
        appCustomAttribute
        appCustomValidation
      />

      <small
        class="text-danger"
        *ngIf="
        registrationForm.controls.phone.touched &&
        registrationForm.controls.phone.errors?.required
        "
      >
        Phone number is required</small
      >
      <small
        class="text-danger"
        *ngIf="
        registrationForm.controls.phone.touched &&
        registrationForm.controls.phone.errors?.minlength
        "
      >
        Phone number should be at least two characters long</small
      >
    </div>
  </div>
  <label id="alreadyExistLbl" >Prazna labela</label>
  <div class="form-group row float-right">
    <div class="col-7"></div>
    <div class="col-1 float-right">
      <button
        class="btn btn-primary"
        id="registerBtn"
        type="submit"
        [disabled]="registrationForm.invalid"
      >
        Register
      </button>
    </div>
  </div>
  
</form>
