<form class="mx-1 mx-md-4">

  <div class="d-flex flex-row align-items-center mb-4">
    <i class="bi bi-person-fill fa-lg"></i>
    <div class="form-outline flex-fill mb-0 form-floating">
      <input #inputName type="text" id="name" class="form-control" placeholder="Name" name="name" [(ngModel)]="name"/>
      <label class="form-label" for="name">Name</label>
    </div>
    <label #errorName class="errorMessage"> Name is required </label>
  </div>

  <div class="d-flex flex-row align-items-center mb-4">
    <i class="bi bi-person-fill fa-lg"></i>
    <div class="form-outline flex-fill mb-0 form-floating">
      <input #inputSurname type="text" id="surname" class="form-control" placeholder="Surname" name="surname" [(ngModel)]="surname"/>
      <label class="form-label" for="surname">Surname</label>
    </div>
    <label #errorSurname class="errorMessage"> Surname is required </label>
  </div>

  <div class="d-flex flex-row align-items-center mb-4">
    <i class="bi bi-envelope-at-fill"></i>
    <div class="form-outline flex-fill mb-0 form-floating">
      <input #inputEmail type="email" id="email" class="form-control" placeholder="Email" name="email" [(ngModel)]="email"/>
      <label class="form-label" for="email">Email</label>
    </div>
    <label #errorEmail class="errorMessage"> Email must contain "@" sign</label>
  </div>

  <div class="d-flex flex-row align-items-center mb-4">
    <i class="bi bi-lock-fill"></i>
    <div class="form-outline flex-fill mb-0 form-floating">
      <input #inputPassword type="password" id="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="password"/>
      <label class="form-label" for="password">Password</label>
    </div>
    <label #errorPassword class="errorMessage"> Password is required </label>
  </div>

  <div class="d-flex flex-row align-items-center mb-4">
    <i class="bi bi-lock-fill"></i>
    <div class="form-outline flex-fill mb-0 form-floating">
      <input #inputRepeated type="password" id="repeatedPassword" class="form-control" placeholder="Repeated password" name="repeated" [(ngModel)]="repeatedPassword"/>
      <label class="form-label" for="form3Example3c">Repeated password</label>
    </div>
    <label #errorRepeated class="errorMessage"> Passwords do not match </label>
  </div>

  <div class="d-flex flex-row align-items-center mb-4">
    <i class="bi bi-buildings-fill"></i>
    <div class="form-outline flex-fill mb-0 form-floating">
      <input #inputCity type="password" id="city" class="form-control" placeholder="City" name="city" [(ngModel)]="city"/>
      <label class="form-label" for="city">City</label>
    </div>
    <label #errorCity class="errorMessage"> City is required </label>
  </div>

  <div class="d-flex flex-row align-items-center mb-4">
    <i class="bi bi-telephone-fill"></i>
    <div class="form-outline flex-fill mb-0 form-floating">
      <input #inputPhone type="password" id="phone" class="form-control" placeholder="Phone number" name="phone" [(ngModel)]="phone"/>
      <label class="form-label" for="phone">Phone number</label>
    </div>
    <label #errorPhone class="errorMessage"> Phone number is required </label>
  </div>

  <div class="justify-content-center ">
    <button (click)="register()" id="registerButton" type="button" class="btn btn-primary btn-lg" style="float: right;">Register</button>
  </div>

</form>
