input, label
{
    color: grey;
    font-size: large;
}

input
{
    width: 120%;
}


i {
    font-size:30px; 
    padding-right: 10px;
    margin-left: 10%;
}

.errorMessage {
   visibility: collapse;
   color: red;
   padding-left: 5px;
}

button
{
    font-size: large;
}

.nesto 
{
    padding-top: 50px;
}