<form class="row">
    <div class="row middle-col"></div>

    <div class="row middle-col">
        <div class="row">
            <span class="col text-center form-title-style">Insert email address to require a password reset</span>
            <div class="col"></div>
        </div>

        <div class="row">
            <div class="d-flex flex-row align-items-center">
                <i class="bi bi-envelope-fill"></i>
                <div class="form-outline flex-fill mb-0 form-floating">
                    <input #inputEmail type="email" id="email" class="form-control" placeholder="Email" name="email"/>
                    <label class="form-label" for="email">Email</label>
                </div>
                <label #errorEmail class="errorMessage"> Email must contain "@" sign</label>
            </div>
        </div>

        <div class="row">
            <div class="col text-center">
                <button id="sendResetEmail" type="button" class="btn btn-primary btn-lg">Send reset email</button>
            </div>
            <div class="col"></div>
        </div>
    </div>

    <div class="row middle-col"></div>
</form>
