div {
    margin: 0;
    padding: 0;
}

.form-holder {
    padding: 0 2vw;
}

.middle-col {
    height: 32vh;
}

.card-style {
    margin-top: -5vh;
    padding-top: 5vh;
    padding-bottom: 3vh;
    border: 1px solid rgb(223, 220, 220);
    border-radius: 25px;
    background-color: white;
}

input, label {
    color: grey;
    font-size: large;
}

i {
    font-size: 2vw;
    margin-right: 0.5vw;
}

.form-title-style {
    margin-top: -2vh;
    margin-bottom: 2vh;
    font-weight: bold;
    font-size: 3vh;
}
