<div class="info-card-holder row" *ngIf="showPanel">
    <div class="col left-col">
        
        <p class="section-title-style">Route information</p>
        <div class="row">
            <div class="col">
                <div class="form-outline flex-fill mb-0 form-floating">
                    <input [value]="details.ride.route.routeJSON.waypoints[0].name" type="text" id="startLocation" class="form-control" disabled/>
                    <label class="form-label" for="startLocation">START LOCATION</label>
                </div>
            </div>
            <div class="col">
                <div class="form-outline flex-fill mb-0 form-floating">
                    <input [value]="details.ride.route.routeJSON.waypoints[1].name" type="text" id="endLocation" class="form-control" disabled/>
                    <label class="form-label" for="endLocation">END LOCATION</label>
                </div>
            </div>
        </div>
        
        <hr>
        
        <p class="section-title-style">Passengers information</p>
        <div class="row">
            <div class="col passengers-cont">

                <div class="row passenger-card" *ngFor="let passenger of details.passengers;">
                    <div class="col-4">
                        <div class="row">
                            <img src="../../../../assets/images/pera.webp">
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="row">
                            <div class="col">
                                <div class="form-outline flex-fill mb-0 form-floating">
                                    <input [value]="passenger.name" type="text" id="name" class="form-control" disabled/>
                                    <label class="form-label" for="name">NAME</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-outline flex-fill mb-0 form-floating">
                                    <input [value]="passenger.surname" type="text" id="surname" class="form-control" disabled/>
                                    <label class="form-label" for="surname">SURNAME</label>
                                </div>         
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-outline flex-fill mb-0 form-floating">
                                    <input [value]="passenger.phone" type="text" id="phoneNumber" class="form-control" disabled/>
                                    <label class="form-label" for="phoneNumber">PHONE NUMBER</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    
    </div>

    <div class="col right-col">
        <div class="map-style" 
            leaflet
            [leafletOptions]="options"
            [leafletLayers]="mainGroup"
        ></div>
    </div>
</div>
