option {
    font-size: 19px;
}

select {
    font-size: 19px;
    height: 40px;
    width: 150px;
    margin-left: 10px;
}

label  {
    font-size: 19px;
}

.form-check {
    margin-top: 10px;
}

.form-check-input {
    height: 25px;
    width: 25px;
    margin: 5px;

}

#labelCarType{
    padding-right: 50px;
    margin-right: 50px;
}

i {
    font-size:30px; 
    padding-right: 10px;
}

div {
    margin-left: 10px;
}

input, label
{
    color: grey;
    font-size: large;
}

input
{
    width: 120%;
}




i {
    font-size:30px; 
    padding-right: 10px;
    margin-left: 10%;
}

.errorMessage {
   visibility: collapse;
   color: red;
   padding-left: 5px;
}

button
{
    font-size: large;
}