<div class="dropdown">
    <i class="bi bi-car-front-fill"></i>
    <label> Car type </label>
    <select class="custom-select mb-3"  formControlName="carType">
        <option value=""> </option>
        <option *ngFor="let c of carTypes" [value]="c">
        {{ c }}
        </option>
    </select>
</div>

<div class="form-check">
    <label class="form-check-label" for="flexCheckDefault">
        Baby allowed
    </label>
    <input class="form-check-input" type="checkbox" value="" id="babyAllowed">
</div>

<div class="form-check">
    <label class="form-check-label" for="flexCheckDefault">
        Pets allowed
    </label>
    <input class="form-check-input" type="checkbox" value="" id="petsAllowed">
</div>