<div class="card text-white bg-success mb-3" style="max-width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{vehicle.carType}}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item bg-success text-white">Baby allowed - {{vehicle.babyAllowed}}</li>
    <li class="list-group-item bg-success text-white">Pet allowed - {{vehicle.petAllowed}}</li>
    <li class="list-group-item bg-success text-white">Is vehicle free - {{vehicle.isDriverFree}}</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link text-white fs-4">Schedule</a>
  </div>
</div>
