
<form class="mx-1 mx-md-6">
    <div class="d-flex justify-content-center">
      <img class="circle" src="../../../../assets/images/pera.webp" />
    </div>
    
    <!--<div class="d-flex flex-row align-items-center mb-4">
      <i class="bi bi-image"></i>
      <div class="" id="choseFileDiv">
        <input type="file" id="photo" class="form-control"/>
      </div>
    </div> -->

    <div id="changePictureDiv" class="d-flex flex-row align-items-center mb-10">
      <i class="bi bi-image"></i>
      <label id="btnChangeFiles" for="files" class="btn">Change profile picture</label>
      <input id="files" style="visibility:hidden;" type="file">
      <label> Naziv nove slike</label>
    </div>


    <div class="d-flex flex-row align-items-center mb-4">
      <i class="bi bi-person-fill fa-lg"></i>
      <div class="form-outline flex-fill mb-0">
        <input type="text" id="name" class="form-control" placeholder="Pera" disabled/>
      </div>
      <i class="bi bi-pencil-square"></i>
    </div>
  
    <div class="d-flex flex-row align-items-center mb-4">
      <i class="bi bi-person-fill fa-lg"></i>
      <div class="form-outline flex-fill mb-0">
        <input type="text" id="surname" class="form-control" placeholder="Peric" disabled/>
      </div>
      <i class="bi bi-pencil-square"></i>
    </div>
  
    <div class="d-flex flex-row align-items-center mb-4">
      <i class="bi bi-envelope-at-fill"></i>
      <div class="form-outline flex-fill mb-0">
        <input type="text" id="email" class="form-control" placeholder="pera@gmail.com" disabled/>
      </div>
      <i class="bi bi-pencil-square"></i>
    </div>
  
    <div class="d-flex flex-row align-items-center mb-4">
      <i class="bi bi-lock-fill"></i>
      <div class="form-outline flex-fill mb-0">
        <input type="password" id="password" class="form-control" placeholder="******" disabled />
      </div>
      <i class="bi bi-pencil-square"></i>
    </div>
  
    <div class="d-flex flex-row align-items-center mb-4">
      <i class="bi bi-buildings-fill"></i>
      <div class="form-outline flex-fill mb-0">
        <input type="password" id="city" class="form-control" placeholder="Teslic" disabled />
      </div>
      <i class="bi bi-pencil-square"></i>
    </div>
  
    <div class="d-flex flex-row align-items-center mb-4">
      <i class="bi bi-telephone-fill"></i>
      <div class="form-outline flex-fill mb-0">
        <input type="password" id="phone" class="form-control" placeholder="0628389911" disabled/>
      </div>
      <i class="bi bi-pencil-square"></i>
    </div>

  
    <div class="justify-content-center ">
      <button id="registerButton" type="button" class="btn btn-primary btn-lg" style="float: right;">Save changes</button>
    </div>
  
  </form>
  