input, label
{
    font-size: large;
}

i {
    font-size:30px; 
    padding-right: 10px;
}

.circle {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}


#btnChangeFiles {
    width: 210px;
    border: 1px solid;
}

#changePictureDiv
{
    padding-bottom: 20px;
}

#files {
    width: 10px;
}