<div class="info-card-holder row" *ngIf="showPanel">
    <div class="col left-col">
        <p class="section-title-style">Driver information</p>
        <div class="row">

            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="form-outline flex-fill mb-0 form-floating">
                            <input [value]="details.driver.name" type="text" id="name" class="form-control" disabled/>
                            <label class="form-label" for="name">NAME</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-outline flex-fill mb-0 form-floating">
                            <input [value]="details.driver.surname" type="text" id="surname" class="form-control" disabled/>
                            <label class="form-label" for="surname">SURNAME</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-outline flex-fill mb-0 form-floating">
                            <input [value]="details.driver.phone" type="text" id="phoneNumber" class="form-control" disabled/>
                            <label class="form-label" for="phoneNumber">PHONE NUMBER</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="row">
                    <img src="../../../../assets/images/pera.webp">
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col">
                <div class="form-outline flex-fill mb-0 form-floating">
                    <input [value]="details.driver.carType" type="text" id="carType" class="form-control" disabled/>
                    <label class="form-label" for="carType">CAR TYPE</label>
                </div>
            </div>
            <div class="col">
                <div class="form-outline flex-fill mb-0 form-floating">
                    <input [value]="details.driver.babyAllowed ? 'Yes' : 'No'" type="text" id="babyAllowed" class="form-control" disabled/>
                    <label class="form-label" for="babyAllowed">IS BABY ALLOWED</label>
                </div>
            </div>
            <div class="col">
                <div class="form-outline flex-fill mb-0 form-floating">
                    <input [value]="details.driver.petAllowed ? 'Yes' : 'No'" type="text" id="petAllowed" class="form-control" disabled/>
                    <label class="form-label" for="petAllowed">IS PET ALLOWED</label>
                </div>
            </div>
        </div>

        <hr>
        
        <p class="section-title-style">Route information</p>
        <div class="row">
            <div class="col">
                <div class="form-outline flex-fill mb-0 form-floating">
                    <input [value]="details.ride.route.routeJSON.waypoints[0].name" type="text" id="startLocation" class="form-control" disabled/>
                    <label class="form-label" for="startLocation">START LOCATION</label>
                </div>
            </div>
            <div class="col">
                <div class="form-outline flex-fill mb-0 form-floating">
                    <input [value]="details.ride.route.routeJSON.waypoints[1].name" type="text" id="endLocation" class="form-control" disabled/>
                    <label class="form-label" for="endLocation">END LOCATION</label>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-4">
                <button id="new-ride-btn" class="btn-style" (click)="goToNewRidePage()">New ride for this route</button>
            </div>
            <div class="col-4">
                <button id="driver-reviews-btn" class="btn-style" (click)="showDriverReviews()">Show driver reviews</button>
            </div>
            <div class="col-4">
                <button id="fav-route-btn" class="btn-style" (click)="saveRouteToFavourites()">Save route to favourites</button>
            </div>
        </div>
    </div>

    <div class="col right-col">
        <div class="map-style" 
            leaflet
            [leafletOptions]="options"
            [leafletLayers]="mainGroup"
        ></div>
    </div>
</div>
