.info-card-holder {
    margin: 0 -20px;
    margin-top: 5vh;
    background: white;
    border: 1px solid rgb(199, 196, 196);
    border-radius: 20px;
    height: 84vh;
    padding: 20px;
}

.left-col {
    border-right: 1px solid black;
    border-radius: 20px;
    margin-right: 1px;
}

.right-col {
    border-left: 1px solid black;
    border-radius: 20px;
    margin-right: -1px;
}

.section-title-style {
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
}

img {
    border-radius: 40px;
    width: 85%;
    height: calc(20px + 24vh);
    margin: auto;
}

input, label{
    font-size: large;
    font-weight: bold;
}

input {
    margin-bottom: 10px;
    height: 8vh !important;
}

.btn-style {
    width: 100%;
    border-radius: 20px;
    margin: 0;
    font-weight: 700;
    height: 5vh;
}

.btn-style:hover {
    width: 105%;
    margin: 0 calc(2.5% * -1);
}

#new-ride-btn {
    background-color: rgb(79, 140, 219);
}

#driver-reviews-btn {
    background-color: rgb(223, 174, 42);
}