<div id="container" style="position: relative;">
    <app-driver-rides></app-driver-rides>

    <section class="" style="background-color: #eee;
        position: absolute; width: 95%; height: 100%;top: 0; left: 0;">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-10 col-xl-10">
                    <div class="card text-black" style="border-radius: 25px;">
                        <div class="card-body p-md-5">
                            <div class="justify-content-center">
                                <div class="col-md-11 col-lg-11 col-xl-11 container" id="addCarDiv">
                                    <div class="row">
                                        <p id="title" class="text-center h1 fw-bold"></p>
                                    </div>                         
                                    <div class="row" style="align-items: center;">
                                        <app-add-car></app-add-car>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
